.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  visibility: hidden;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal__is-open {
  visibility: visible;
  transition: opacity 0.5s linear;
}

.modal__content {
  border-radius: 10px;
  background-color: #fff;
  padding: 36px 50px 32px;
  width: 630px;
  box-sizing: border-box;
  position: relative;
}

.modal__content_type_preview {
  background-color: transparent;
  border-width: 2px;
  border-color: #212121;
}

.modal__close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  width: 119px;
  height: 24px;
  justify-content: center;
}

.modal__close-btn:hover {
  color: #212121;
  opacity: 1;
}

.modal__title {
  max-width: 149px;
  min-height: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
  margin: 0;
  padding: 33px 50px 32px 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  line-height: 110%;
  font-size: 16px;
  font-weight: 500;
}

.modal__image {
  width: 446.43px;
  height: 661px;
  border-radius: 8px;
  margin: 0;
  padding: 81px 496.57px 80px 497px
}

.modal__input {
  margin: 0;
  border-radius: 8px;
  padding: 16px 12px;
  line-height: 1;
  font-size: 20px;
  border: 1px solid #21212166;
  opacity: 40%;
}

.modal__input:hover {
  border: 1px solid #212121;
  opacity: 1;
}

.modal__input:filled {
  border: 1px solid #212121;
  opacity: 40%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  opacity: 80%;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__title {
    padding: 0;
    margin: 10px 183px 10px 0;
  }

  .modal__content {
    width: 90vw;
    padding: 24px;
  }

  .modal__image {
    width: 288px;
    height: 426.57px;
    border-radius: 4px;
    margin: 0;
    padding: 16px 89px 88.43px 16px
  }

  .modal__submit-btn {
    width: 276px;
    height: 52px;
    margin: 0;
    padding: 18px 32px 18px;
    background-color: #212121;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
  }
}

@media screen and (max-width: 320px) {
  .modal__title {
    margin: 0;
    padding: 10px 183px 10px 0;
    width: 93px;
    height: 20px;
    list-style: 1;
    font-size: 20px;
  }

  .modal__content {
    gap: 8px;
    margin: 0;
    padding: 24px 12px 24px 12px;
  }

  .modal__submit-btn {
    width: 276px;
    height: 52px;
    margin: 0;
    padding: 18px 32px 18px;
    background-color: #212121;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
  }
}