.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  visibility: hidden;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal__is-open {
  visibility: visible;
  transition: opacity 0.5s linear;
}

.modal__content {
  border-radius: 10px;
  background-color: #fff;
  padding: 36px 50px 32px;
  width: 630px;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  width: 119px;
  height: 24px;
  justify-content: center;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  max-width: 149px;
  min-height: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  line-height: 110%;
  font-size: 16px;
  font-weight: 500;
}

.modal__input {
  border-radius: 8px;
  padding: 16px 12px;
  line-height: 1;
  font-size: 20px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__content {
    width: 90vw;
    padding: 24px;
  }
}